.tabs {
	display: flex;
	gap: 10px;
}

.tab.active {
	color: var(--white);
	border: none;
	background-color: rgb(30 52 168 / 50%);
}

.tab {
	padding: 4px 38px;

	cursor: pointer;

	color: #3E52B5;
	border: 1px solid #3E52B5;
	border-radius: var(--radius-s);
	background: none;

	font-size: 14px;
}
